---

import '../styles/global.css';
---
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>philsblog</title>
    </head>
    <body class="p-1 text-slate-700 dark:bg-gray-800 dark:text-slate-300">
        <header class="mb-2">
            <h1><a href="http://philshum.co.uk">philshum.co.uk</a></h1>
            <h2><a href="/">blog</a></h2>
        </header>
        <div>

        </div>
	</body>
</html>
